<!--komponent mis hoiab endas ühte boti sõnumit-->
<template>
    <div class="row">
        <div class="col-7 ">
            <p class="user-info float-left my-0 ml-4 pl-2">
                gotoBot <span class="time">{{botTime}}</span>
            </p><br>
            <div class="d-inline-flex ml-2 float-left">
                <img class="logo my-auto" src="../assets/logo.png" alt="">
                <p class="ellipsis badge badge-secondary p-2 ml-2 mt-0 mb-1 float-left text-left">
                    <i class="fa fa-caret-left"></i>
                    {{botMessage}}
                </p>
            </div>
        </div>
        <div class="col-5"></div>
    </div>
</template>

<script>

    export default {
        name: "BotReply",
        data: function () {
            return {
                botMessage: '',
                botTime: ''
            }
        },
        props: {
            msg: {
                type: String
            }
        },
        //fn, mis rakendub kui komponent laetakse
        mounted: function () {
            //kui propina sisse tulnud sõnumit pole siis antakse väärtus "Hello!"
            //see on antud, et rakenduse laadimisel oleks botil sõnum
            if (!this.msg) {
                this.botMessage = 'Hello!'
            } else {
                this.botMessage = this.msg;
            }
            let time = new Date(); //loob uue date objekti
            this.botTime = `${time.getHours()}:${time.getMinutes()}`; //seab väärtuse boti vastuse ajale
        }
    }
</script>

<style scoped>
    .ellipsis {
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
        background-color: #ddfde8;
        color: #475277;
    }

    .user-info {
        font-size: 12px;
        opacity: 0.85%;
        color: #62e2c0;
    }

    .time {
        font-size: 10px;
        opacity: 0.54%;
        color: #475277;
    }

    .logo {
        width: 19px;
        height: 19px;
        border: solid 2px #62e2c0;
        background-color: #ffffff;
        border-radius: 50%;

    }
</style>
