<!--template loomine, kus laetakse massiivist kasutaja ja boti vestlused-->
<template>
    <div class="my-3">
        <BotReply />
        <div v-for="(message, index) in list" :item="message" :key="index">
            <UserReply :msg="message.userMessage"/>
            <BotReply :msg="message.reply"/>
        </div>
    </div>
</template>

<script>
    //impordib kasutaja ja boti vestluse komponendid
    import BotReply from "./BotReply";
    import UserReply from "./UserReply";

    export default {
        name: "ChatBox",
        components: {UserReply, BotReply},
        props: ['msg'],
        data: function () {
            return {
                list: [], //list kuhu laetakse vestlused
            }
        },
        //vue meetod, mis jälgib muudatusi ja laeb uued vestlused massiivi
        watch: {
            msg: {
                handler(oldV, newV) {
                    this.list.push(newV);
                }, deep: true
            }
        }
    }
</script>

<style scoped>

</style>
