<!--headeri template, mis hoiab endas logo ja nimetust-->
<template>
    <nav class="navbar ml-0 mb-4">
        <span class="navbar-brand font-weight-bold" href="#">
            <img src="../assets/logo.png" class=" logo ml-1 d-inline-block align-top" alt="">
            gotoAndBot
        </span>
    </nav>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

    .logo {
        width: 40px;
        height: 40px;
        border: solid 4px #62e2c0;
        background-color: #ffffff;
        border-radius: 50%;
    }

    .navbar {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
        margin: 0px !important;
    }

    .navbar-brand {
        color: #62e2c0;
    }

    h5 {
        color: #6232c0;
        text-align: center;
    }
</style>
