<!--komponent, kus laetakse kõik kokku, hoiab endas peamist loogikat-->
<template>
    <div class="">
        <!--headeri komponent-->
        <Header/>
        <!--chatboxi komponent, kus laetakse vestlus. siia laetakse ka prop objektina-->
        <ChatBox :msg="inputMessage"/>
        <!--vormi komponent, kus klikkamisel või enter ivajutamisel kutsutakse getInput välja-->
        <Question @submitInput="getInput"/>
    </div>
</template>

<script>
    import Header from "./Header";
    import ChatBox from "./ChatBox";
    import Question from "./Question";
    import axios from "axios";

    export default {
        name: "Home",
        data: function () {
            return {
                //object mis saadetakse chatboxile
                inputMessage: {
                    userMessage: '',
                    reply: ''
                }
            }
        },
        components: {Question, ChatBox, Header},
        methods: {
            getInput: function (inputMessage) {
                //massiivid mis hoiavad sõnesid, mille alusel toimub võrdlemine
                const mathOperators = ['+', '-', '*', '/'];
                const timeOperators = ['time'];
                const weatherOperators = ['weather', 'sunny', 'cloudy', 'rainy', 'snowy'];
                //sisestaud sõnede massiiviks tegemine
                const mathTest = this.processString(inputMessage).split('');
                const timeTest = this.processString(inputMessage).split(' ');
                const weatherTest = this.processString(inputMessage).split(' ');
                //trigger sõnede otsimine
                const foundMath = mathTest.some(r => mathOperators.includes(r));
                const fountTime = timeTest.some(r => timeOperators.includes(r));
                const foundWeather = weatherTest.some(r => weatherOperators.includes(r));
                //võrdlus, mille alusel kutsutakse välja funktsioone
                if (foundMath) {
                    //matemaatika funktsionaalsus
                    this.inputMessage.userMessage = inputMessage;
                    try {
                        this.inputMessage.reply = 'Answer is ' + eval(inputMessage);
                    } catch (e) {
                        this.inputMessage.reply = 'Sorry, cannot compute that. Please try again';
                    }
                } else if (fountTime) {
                    //aja funktsionaalsus
                    const time = new Date();
                    this.inputMessage.userMessage = inputMessage;
                    this.inputMessage.reply = `Current time is ${time.getHours()}:${time.getMinutes()},
                    hope you are having a good time!`;
                } else if (foundWeather) {
                    //ilma funktsionaalsus
                    this.getWeather(weatherTest[weatherTest.length - 1], inputMessage);

                } else {
                    //lihtsa vestluse funktsionaalsus
                    this.smallTalk(inputMessage);
                }
            },

            //api.ai api call läbi kolmanda osapoole, kuna localhostis ei lubata CORSi (turvarisk)
            async smallTalk(inputMessage) {
                const token = '38c0a487ba284d1980460341b2bc7e19';
                const base = 'https://cors-anywhere.herokuapp.com/https://api.dialogflow.com/v1/query?v=20150910';
                //axios post request
                const aiResponse = await axios({
                    method: 'post',
                    url: base,
                    headers: {
                        ContentType: "application/json",
                        Authorization: "Bearer " + token,
                    },
                    data: {
                        lang: "en",
                        query: inputMessage,
                        sessionId: "12345",
                        timezone: "Europe/Kaliningrad"
                    }
                });
                this.inputMessage.userMessage = inputMessage;
                //saadud vastuse määramine boti sõnumisse
                this.inputMessage.reply = aiResponse.data.result.fulfillment.speech;
            },
            async getWeather(city, inputMessage) {
                const api = "https://api.openweathermap.org/data/2.5/weather?q=";
                const appId = "&units=metric&appid=d2de2347e35f626f0ef18b63cb64fc4b";
                const url = api + city + appId;
                //axios get request ilma info saamiseks
                const wResponse = await axios.get(url);

                this.inputMessage.userMessage = inputMessage;
                this.inputMessage.reply = `Current weather in ${wResponse.data.name}:
                                                     ${wResponse.data.weather[0].main} (${wResponse.data.weather[0].description})
                                                     Temp: ${wResponse.data.main.temp} C`;
            },
            //fn töötleb kasutaja sisendit
            processString: function (msg) {
                const message = msg.replace(/[^-*+/\w\s]/gi, '');
                return message.toLocaleLowerCase().trim();
            }
        }
    }
</script>

<style scoped>

</style>

