<!--komponent, mis hoiab endas vormi-->
<template>
    <div class="row border-top m-0 border-dark">
        <div class="col-10">
            <input ref="input" type="text" @keyup.enter="submit" v-model="inputMessage" placeholder="Write here"
                   class="form-control" required>
        </div>
        <div class="col-2 align-middle m-auto">
            <i class="fa fa-chevron-right" @click="submit"></i>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Question",
        data: function () {
            return {
                inputMessage: ''
            }
        },
        mounted() {
            this.$refs.input.focus(); //paneb fookuse input kasti
        },

        methods: {
            submit: function () {
                this.$emit("submitInput", this.inputMessage); //saadab sõnumi parent komponendile
                this.inputMessage = undefined; //kustutab vormist kirjutatud sõnumni
            }
        }
    }
</script>

<style scoped>
    .row.border-top.m-0.border-dark {
        border-color: #62e2c0 !important;
    }

    .fa {
        height: 14px;
        color: #62e2c0;
    }

    .form-control {
        border: 0;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #475277;
        opacity: 0.45; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #475277;
        opacity: 0.45;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #475277;
        opacity: 0.45;
    }
</style>
