<!--component, mis hoiab endas ühte kasutaja vestlust -->
<template>
    <div class="row" v-if="userMessage">
        <div class="col-5"></div>
        <div class="col-7 ">
            <p class="user-info float-right my-0 mr-2">
                <span class="time">{{userTime}}</span> Me
            </p><br>
            <p class="ellipsis badge badge-secondary p-2 mr-2 my-0 float-right">
                {{userMessage}} <i class="fa fa-caret-right"></i>
            </p>

        </div>

    </div>
</template>

<script>
    export default {
        name: "UserReply",
        data: function () {
            return {
                userMessage: '', //kasutaja sõnum
                userTime: '' //kellaeg, millal sõnum saadeti
            }
        },
        props: {
            //prop, mis saadetakseparent komponendist
            msg: {
                type: String
            }
        },
        //fn, mis rakendub kui komponent laetakse
        mounted: function () {
            this.userMessage = this.msg; //seab kasutaja sõnumi
            let time = new Date();//loob uue date objekti
            this.userTime = `${time.getHours()}:${time.getMinutes()}`;//seab kasutaja sõnumi kirjutamise kellaja
        }

    }

</script>

<style scoped>
    .ellipsis {
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
        background-color: #e7e9ff;
        color: #475277;
    }

    .user-info {
        font-size: 12px;
        opacity: 0.85%;
        color: #a5acff;
    }

    .time {
        font-size: 10px;
        opacity: 0.54%;
        color: #475277;
    }
</style>
