<!--template, mis hoiab endas Home komponenti ja peamist stiili-->
<template>
    <div id="app" class="">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 mx-auto bg-white border border-dark">
                    <Home/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Home from './components/Home.vue'

    export default {
        name: 'app',
        components: {
            Home
        }
    }
</script>

<style lang="scss">
    .col-md-8 {
        padding: 1px !important;
        margin: 1px !important;
    }

    .border.border-dark {
        border-color: #62e2c0 !important;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    body {
        background: hsla(209, 100%, 47%, 0.1);
        background-image: radial-gradient(hsla(164, 69%, 64%, 0.5) 5%, transparent 0);
        background-size: 30px 30px;
    }
</style>
